/*GLOBAL*/


body{
    margin: 0;
    background: url(img/gamingbackground.jpg);
    background-size: cover;
}



header {
    width: 100%;
    height: 60px;
    background: rgb(0,0,0);
    margin-bottom: 5px;
}

    .logo {
        width: 200px;
        height: 60px;
        float: left;
        color: rgb(0, 137, 255); 
        font-family: 'Silkscreen', cursive;
        font-size: 30px;
        margin-top: 10px;
        margin-left: 10px;
    }

    nav {
        float: right;
        color: rgb(0, 225, 255);
        font-family: 'Silkscreen', cursive;
    }

    nav li {
        display: inline;
        margin-right: 30px;
        font-weight: bold;
        font-size: 18px;
    }

    nav li a {
        color: rgb(0, 137, 255);
        text-decoration: none;
    }

    nav li a:hover {
        color: rgb(0, 225, 255); 
        text-decoration: none;
    }


footer {
    width: 100%;
    height: 60px;
    background: rgb(0,0,0);
    text-align:center;
    font-family: 'Silkscreen', cursive;
    color: rgb(0, 137, 255);
}

    footer li {
    display: inline;
    margin-right: 30px;
    font-weight: bold;
    }

    footer li a {
    color: rgb(0, 137, 255);
    text-decoration: none;
    }

    footer li a:hover {
        color: rgb(0, 225, 255); 
        text-decoration: none;
    }




/*CSS targeted at the Main page of the website*/


section.hero {
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
    padding: 5px 0;
    margin-bottom: 5px;
}

    section.hero img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 0;
    }

    .carousel-inner {
        text-align: center;
    }
    
    .carousel .item img{
        display:inline-block;
        width: 780px;
        height: 460px;
    }

    figcaption{
        color: rgb(255,255, 0);
        font-family: 'Silkscreen', cursive;
        font-size: 30px;
    }

section.about {
    width: 100%;
    height: 350px;
    padding: 5px 0;

}

  section.about img {
    float:left;
    height: 345px;
  }

  section.about h1{
        font-size: 25px;
        text-align:center;
        margin-bottom: -20px;
        color: rgb(255, 0, 55);
        font-family: 'Silkscreen', cursive;
  }

  section.about p {
    text-align:center;
    margin-bottom: -20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Silkscreen', cursive;
    font-size: 20px
  }

/*CSS targeted at the details page of the website*/


.description h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Silkscreen', cursive;

}

.description p{
    font-size: 25px;
}

section.fighting {
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    margin-bottom: 5px;
    font-family: 'Silkscreen', cursive;
    color: rgb(255, 255, 255)
}


section.adventure {
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    margin-bottom: 5px;
    text-align: right;
    font-family: 'Silkscreen', cursive;
    color: rgb(255, 255, 255)
}

section.party {
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    margin-bottom: 5px;
    font-family: 'Silkscreen', cursive;
    color: rgb(255, 255, 255);
}

section.tournament {
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    margin-bottom: 5px;
    text-align:right;
    font-family: 'Silkscreen', cursive;
    color: rgb(255, 255, 255)
}

section.fighting img, section.adventure img, section.party img, section.tournament img{
    width: 460px;
    height: 300px;
    background: rgb(200,200,200);
    float: left;
}

.fightingcontent, .adventurecontent, .partycontent, .tournamentcontent {
    float: left;
    margin-left: 20px;
    width: 440px;
}

/*CSS targeted at the Sign Up page of the website*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: lightcyan;
    font-size: 20px;
    margin: 30px;
    align-content: auto;
    font-family: 'Silkscreen', cursive;
   }

   .grid-details {
    background-color: rgb(25, 0, 0);
    border: 1px solid blue;
    color: rgb(0, 153, 255);
    border-width: 3px;
    padding: 10px;
    
   }
        form {
            font-size: 30px;
            text-align: center;
            padding-top: 5px;
        }


        legend {
            color:blue;
            font-weight: bold;
            font-family: 'Silkscreen', cursive;
            font-size: 40px;
        }

        .grid-details h2{
            text-align: center;
            margin-left: 15px;
            text-decoration: underline;
            font-size: 40px;
            color:blue;
        }

        .grid-details ul{
            text-align: center;
            font-size: 30px;
            list-style: none;
        }

        .button{
            margin: 50px;
            background: rgb(255, 123, 0);
            color: rgb(0, 128, 58);
            box-shadow: 0px 3px 12px 0px rgba(255,255,255,0.75);
            border-radius: 5px;
        }

        #holiday{
            color:red;
        }
